
/* TODO Серьезная работа над styles.css*/


.header {
    background: url(http://nevseoboi.com.ua/uploads/posts/2012-04/1335709755-2091448-0076969_www.nevseoboi.com.ua.jpg);
}
.li{
    color: blue;
}

p{
    color: blue;
}
.h11{
    color: blue;
}